﻿*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

body
{
    font-family: Arial;
    font-size: 16px;
    line-height: 1.2em;
    overflow-x: hidden;
}

#mainPage {
    transition: all 0.5s ease;
}

.edit-box{
    padding: 10px;
    transition: all 0.5s ease;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);   
}

.edit-mode #mainPage{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);   
}

.edit-mode .edit-box{
    transform: translateX(0%);
    -webkit-transform: translateX(0%);   
}

.empty-state{
    font-size: 2em;
    line-height: 1.2em;
    color: #999;
    text-align: center;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    padding: 20px;
}

.add-bar
{
    background-color: #2e75b5;
    width: 100%;
    height: 40px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 37px;
    position: relative;
}

.add-button
{
    font-size: 26px;
    position: absolute;
    right: 5px;
    top: 2px;
    color: rgba(0,0,0,0.5);
    padding: 5px;
}

.add-button:hover{
    color: rgba(0,0,0,0.4);
}

.content-text
{
    cursor: default;
}

.contact li
{
    border-bottom: 1px dashed rgba(0,0,0,0.05);
    display: block;
    overflow: hidden;
    padding: 10px 0;
}

    .contact li img
    {
        float: left;
        margin: 0 15px 0 20px;
    }

    .note-descr
    {
        font-style: italic;
        color: rgba(0,0,0,0.2);
        font-size: 12px;
    }

    .note-descr.hasnotes {
        font-style: normal;
        color: rgba(0,0,0,0.8);
    }


    .content { margin-left: 50px; }

    .contact li .note-name
    {
        font-size: 14px;
    }

    .content-text
    {
        margin: 3px 0 0 0px;
        font-size: 20px;
        overflow: hidden;
        font-weight: bold;
    }

        .contact li .counter
        {
            line-height: 30px;
            float: right;
            margin-right: 20px;
            color: #fff;
            border: 1px solid;
            padding: 4px 0px;
            width: 30px;
            text-align: center;
            display: block;
            border-radius: 2px;
            -webkit-border-radius: 4px 4px 4px;
        }

/*.contact li .content-text .left
		{
			text-transform:capitalize;	
		}*/

.less-zero
{
    background: #ec7d31;
    cursor: default;
}

.grather-zero
{
    background: rgba(0, 0, 0, 0.2);
    cursor: default;
}


.swipe-out .delete-btn
{
    padding: 6px 8px;
    border-radius: 6px;
    border: solid 1px rgb(96,23,18);
    background-image: linear-gradient(top, rgb(242,153,157), rgb(213,62,41));
    background-image: -webkit-linear-gradient(top, rgb(242,153,157), rgb(213,62,41));
    background-image: -moz-linear-gradient(top, rgb(242,153,157), rgb(213,62,41));
    background-image: -o-linear-gradient(top, rgb(242,153,157), rgb(213,62,41));
    text-shadow: 0em -0.1em rgb(51,51,51);
    color: #fff;
    font: bold 14px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
    cursor: default;
}


.edit-box
{
    margin-top: 25px;
}

    .ctedit-box, select 
    {
        background: rgba(0,0,0,0.1);
        border: 1px solid rgba(0,0,0,0.2);
        width: 100%;
        height: 40px;
        font-size: 20px;
        padding: 5px 10px;
        /*text-align: center;*/
    }

    .edit-box .edit-elmnt
    {
        margin-bottom: 20px;
    }

.edit-elmnt .edit-box-label, .select-label
{
    margin: 0 0 3px 10px;
}

.save-changes
{
    margin-top: 20px;
    background: #EC7D31;
    color: white;
    font-size: 20px;
    cursor: default;
    border-width: 1px;
    width: 100%;
    padding: 10px;
}

.back-btn
{
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 31px;
    color: white;
    float: left;
    border-radius: 4px;
    font-size: 16px;
    cursor: default;
    left: 4px;
    top: 4px;
    position: absolute;
    line-height: 30px;
}

.back-btn:hover{
    background-color: rgba(0, 0, 0, 0.4);
}


.not-valid-box
{
    border: 2px solid #b22222 !important;
}

.validation-message
{
    font-size: 14px;
    color: #b22222;
    margin-left: 9px;
}


.icon-ok
{
    color: rgba(0, 0, 0, 0.2);
    font-size: 40px;
    float: left;
}

.icon-ok:hover{
    color: green;    
}
